### Introduction to Python Data Types

In [ ]:
# The types are 
 # Integer denoted as int which are whole numbers such as 3, 300,200
 # Floating points denoted as float & are decimal numbers
 # Strings denoted as str which are text characters e.g 'hello'

### Python Data Structures
 1.List
 
 2.Dictionaries
 
 3.Tuples
 
 4.Sets
 
 5.Booleans

### Python Numbers

In [6]:
2+1
3/2
2*2

4

In [7]:
# Modulo or Mod Operator.i.e the value remaining
7 % 4

3

In [9]:
10 % 7

3

In [10]:
2 ** 3

8

In [11]:
2 + 10 * 10 + 3

105

### Variable Assignment

 1. It is considered best practise that names are lowercase
 
 2.Avoid using words that have special meaning in python e.g "list","str

In [12]:
a = 5

In [14]:
a = 10
a

10

In [15]:
a = a+a
a

20

In [16]:
a

20

In [17]:
a = a+a
a

40

In [18]:
type(a)

int

In [19]:
a = 30.1
type(a)

float

In [21]:
my_income = 100

tax_rate = 0.10

my_tax = my_income * tax_rate

In [22]:
my_tax

10.0

### Introduction to Strings(Indexing and Slicing)

In [23]:
# Slicing has the following syntax [start:stop:step]
# start is a numerical index for the slice start
# stop is the index you will go up to(but not include)
# step is the size of the "jump" to take

'hello'

'hello'

In [24]:
"World"

'World'

In [25]:
'this is also a string'

'this is also a string'

In [26]:
print("hello world")

hello world

In [30]:
# \n creates a new line
print('Hello \nWorld')

Hello
World

In [31]:
# len counts the number of characters or values

len("Hello World")

11

In [33]:
# Indexing and Slicing
mystring =  "Hello World"
mystring

'Hello World'

In [34]:
mystring[0]

'H'

In [35]:
mystring[8]

'r'

In [36]:
mystring[-2]

'l'

In [37]:
mystring1 = 'abcdefghijk'

In [38]:
mystring1

'abcdefghijk'

In [39]:
mystring1[2:]

'cdefghijk'

In [40]:
mystring1[:3]

'abc'

In [41]:
mystring1[3:6]

'def'

In [42]:
mystring1[1:3]

'bc'

In [43]:
mystring1[::]

'abcdefghijk'

In [44]:
mystring1[::2]

'acegik'

In [45]:
mystring1[::3]

'adgj'

In [46]:
mystring1[2:7:2]

'ceg'

In [47]:
# a simple way to reverse the string
mystring1[::-1]

'kjihgfedcba'

In [48]:
# String Properties and Methods - Immutability(meaning we can't use indexing to change individual elements of a string)
name = "Sam"
name[1:]

'am'

In [49]:
last_letters = name[1:]

In [50]:
'P'+ last_letters

'Pam'

In [53]:
# String Concantenation(alternative solution)
X  = "Hello World"
X + " it is beautiful outside!"

'Hello World it is beautiful outside!'

In [55]:
X.upper()

'HELLO WORLD'

In [57]:
X.split()

['Hello', 'World']

In [1]:
#Print formatting with strings

#1 is with the .format() method which uses the {} symbol

print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [2]:
print('The {} {} {}'.format('fox','brown','quick'))

The fox brown quick

In [3]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [4]:
print('The {q} {b} {f}'.format(f ='fox',b = 'brown',q ='quick'))

The quick brown fox

In [5]:
#2 .Float formatting which follows "{value:width.precision f}" e.g

result = 100/777

result

0.1287001287001287

In [6]:
print('The result was {}'.format(result))

The result was 0.1287001287001287

In [8]:
print('The result was {r}'.format( r = result))

The result was 0.1287001287001287

In [10]:
print('The result was {r:1.3f}'.format(r = result))

The result was 0.129

In [11]:
#3. Third method

name = "Bayo"

print(f' Hello, my name is {name}')

 Hello, my name is Bayo

In [17]:
name = "Sam"

age = 3

print(f'{name} is {age} years old')

Sam is 3 years old

In [18]:
#  Exercise for print formating
'{} rules!'.format('Python')

'Python rules!'

In [20]:
language = 'Python'
print(f'{language} rules!')

Python rules!

### Lists in Python

In [21]:
# List starts with []

my_List = [1,2,3]

In [22]:
my_List = ['STRING',100,23.2]

In [24]:
len(my_List)

3

In [25]:
mylist = ['one','two','three']
mylist[0]

'one'

In [26]:
mylist[1:]

['two', 'three']

In [28]:
# concatenate list

another_list = ['four','five']

new_list = mylist + another_list

new_list

['one', 'two', 'three', 'four', 'five']

In [29]:
# List are mutable e.g

new_list[0] = 'ONE ALL CAPS'

In [30]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [31]:
new_list.append('seven')

In [32]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'seven']

In [33]:
new_list.append('eight')
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'seven', 'eight']

In [35]:
#pop is the opposite of append, but index position can only be used and not strings

new_list.pop(6)

'eight'

In [36]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'seven']

In [37]:
new_list.pop(0)
new_list

['two', 'three', 'four', 'five', 'seven']

In [38]:
# Sort and reverse

new_list2 = ['a','e','x','b','c']

num_list = [4,1,8,3]

In [40]:
new_list2.sort()

In [41]:
new_list2

['a', 'b', 'c', 'e', 'x']

In [42]:
num_list.sort()

num_list

[1, 3, 4, 8]

In [43]:
num_list.reverse()

num_list

[8, 4, 3, 1]

In [44]:
new_list2.reverse()
new_list2

['x', 'e', 'c', 'b', 'a']

In [45]:
# Exercise
#Create a list that contains at least one string, one integer and one float.For example:[1, 'two', 3.14159]

create_list = [2,'age', 2.321]
create_list

[2, 'age', 2.321]

### Dictionaries in Python

#### This uses a key-value pairing which allow users to quickly grab objects without needing to know an index location

#### {'key1': 'value1', 'key2':'value2'}

In [46]:
my_dict = {'key1':'value1', 'key2':'value2'}
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [47]:
my_dict['key1']

'value1'

In [48]:
my_dict['key2']

'value2'

In [49]:
prices_lookup = {'apple':2.99,'oranges': 1.99,'milk':5.80}

In [50]:
prices_lookup['apple']

2.99

In [51]:
d = {'k1':123,'k2':[0,1,2],'k3':{'insidekey':100}}

In [52]:
d['k2']

[0, 1, 2]

In [53]:
d['k3']

{'insidekey': 100}

In [54]:
d['k3']['insidekey']

100

In [55]:
d['k2'][2]

2

In [56]:
d1 = {'key1': ['a','b','c']}

In [57]:
d1['key1'][2].upper()

'C'

In [59]:
# Appending a dictionary

d2 = {'k1':100, 'k2':200}

In [60]:
d2['k3'] = 300

In [61]:
d2

{'k1': 100, 'k2': 200, 'k3': 300}

In [62]:
d2['k1'] = 'NEW VALUE'

In [63]:
d2

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

In [64]:
# Keys, Values , Items

d = {'k1': 100, 'k2': 200, 'k3': 300}

In [65]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [66]:
d.values()

dict_values([100, 200, 300])

In [67]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [68]:
# Exercise
# Create a dictionary where all the keys are strings, and all the values are integers.

month = {'Jan':1, 'Feb':2}
month

{'Jan': 1, 'Feb': 2}

###  Tuples with Python

#### They are immutable and they use parenthesis e.g (1,2,3)

In [1]:
t = (1,2,3)

mylist = [1,2,3]

In [2]:
type(t)

tuple

In [3]:
type(mylist)

list

In [4]:
t =('a','a','b')

t.count('a')

2

In [5]:
t.index('a')

0

In [6]:
t.index('b')

2

In [7]:
mylist

[1, 2, 3]

In [8]:
mylist[0] = 'NEW'
mylist

['NEW', 2, 3]

In [9]:
t

('a', 'a', 'b')

###  Sets in Python

In [11]:
myset =  set()

myset

set()

In [12]:
myset.add(1)

In [13]:
myset

{1}

In [14]:
myset.add(2)

In [15]:
myset

{1, 2}

In [17]:
mylist = [1,1,1,1,2,2,2,3,3,3]

set(mylist)

{1, 2, 3}

In [18]:
# Exercise
# Write an expression that would turn the string 'Mississippi'  into a set of unique letters.

set('Mississippi')

{'M', 'i', 'p', 's'}

### Booleans in Python

####  Booleans are operators that allow you to convey True or False statements.

In [19]:
True

True

In [20]:
False

False

In [21]:
type(False)

bool

In [22]:
1 > 2

False

In [23]:
1 == 1

True

### I/O With Basic Files in Python

In [24]:
%%writefile myfile.txt

Hello this is a text file
This is the second line
This is the third line

Writing myfile.txt

In [25]:
myfile  = open('myfile.txt')

In [30]:
pwd

'C:\\Users\\Adebayo\\TECH\\Python BootCamp'

In [28]:
pwd

'C:\\Users\\Adebayo\\TECH\\Python BootCamp'

In [31]:
# This above is used to know one's current directory

In [32]:
myfile = open('myfile.txt')

In [33]:
myfile.read()

'\nHello this is a text file\nThis is the second line\nThis is the third line\n'

In [34]:
myfile.read()

''

In [35]:
myfile.seek(0)

0

In [36]:
myfile.read()

'\nHello this is a text file\nThis is the second line\nThis is the third line\n'

In [38]:
myfile.seek(0)

0

In [39]:
myfile.readlines()

['\n',
 'Hello this is a text file\n',
 'This is the second line\n',
 'This is the third line\n']

### File Locations

In [40]:
pwd

'C:\\Users\\Adebayo\\TECH\\Python BootCamp'

In [41]:
myfile.close()

In [44]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [45]:
contents

'\nHello this is a text file\nThis is the second line\nThis is the third line\n'